---
title: "Velocity with guardrails: AI, automation, and removing the security and speed tradeoff"
author: Dave Steer
author_gitlab: dsteer
categories: security
featured: yes
tags: security, DevSecOps, DevOps, features, AI/ML
description: Learn what 'velocity with guardrails' means for you and how the
  DevSecOps Platform's features support your need for security and speed.
image_title: /images/blogimages/built-in-security.jpeg
twitter_text: New AI, automation and security capabilities help you move fast 
  while maintaining security with GitLab's DevSecOps Platform. 
---

Technology teams are under intense pressure. They are resource constrained, but still need to have one foot firmly on the gas pedal to drive innovation and deliver value to their customers. And they need to do that while protecting their software supply chain – the seemingly endless amount of integrations and add-ons in today’s modern development environment. 

The dynamic is brutal. Security engineers are outnumbered. One customer told me that for every 100 developers, there is only 1 security engineer. Couple that with dwindling budgets – according to the [2023 GitLab Global DevSecOps Report: Security Without Sacrifices](https://about.gitlab.com/developer-survey/), 85% of respondents said security budgets are flat or reduced – and you get a dynamic where speed and convenience will trump security and compliance. 

But that dynamic does not need to be the norm. 

We believe in a simple mantra: **Velocity with guardrails**. Artificial intelligence technologies and automation solutions accelerate code creation and, when paired with a comprehensive DevSecOps platform, create the security and compliance guardrails that every company needs. Velocity with guardrails means no more trading off the need for fast software innovation with the need for secure software development. Velocity with guardrails only happens in a world where AI and automation extend beyond code creation. In fact, our Global DevSecOps Report found that 62% of developers said they use AI/ML to check code and 65% of developers are using – or plan to use in the next three years – AI/ML in testing efforts. 

Given the resource constraints DevSecOps teams face, automation and artificial intelligence become a strategic resource. Our DevSecOps Platform helps teams fill critical gaps while automatically enforcing policies, applying compliance frameworks, performing security tests using GitLab’s automation capabilities, and providing AI-assisted recommendations - which frees up resources.

In the past few months, we’ve introduced a host of new features and capabilities to bring this mantra to life. Here’s a taste.

## Increase velocity with Code Suggestions

Every day, millions of developers use GitLab to contribute code. In February, we launched a Beta for our Code Suggestions feature, and since then, we’ve been working hard to make [Code Suggestions available to more developers](https://about.gitlab.com/releases/2023/04/22/gitlab-15-11-released/#code-suggestions-for-ultimate--premium-users). During Beta, Code Suggestions is free for all Ultimate and Premium customers. GitLab Code Suggestions can improve developer productivity, focus, and innovation without context switching and within a single DevSecOps platform. 

<img src="/images/blogimages/2023-04-24-velocity-with-guardrails-ai-automation/code-suggestions.png" alt="Code Suggestions" style="border: 1px solid gray;">

Code Suggestions is only the start of our journey infusing AI/ML into all aspects of the software development lifecycle. Along with [Suggested Reviewers](https://docs.gitlab.com/ee/user/project/merge_requests/reviews/#suggested-reviewers), we have been [sharing previews of these AI/ML-powered features on our blog](https://about.gitlab.com/blog/tags.html#AI/ML) every Thursday in a weekly series. 

## Gain a new level of visibility with Value Streams Dashboard

With AI accelerating productivity, visibility and transparency have never been more important. Our new Value Streams Dashboard provides strategic insights into metrics that help decision makers identify trends and patterns to optimize software delivery. This data is grounded in [DORA4 metrics](https://docs.gitlab.com/ee/user/analytics/dora_metrics.html) and the [flow of value delivery](https://docs.gitlab.com/ee/user/group/value_stream_analytics) across projects and groups. 

The Value Streams Dashboard offers visibility across every step of the software development lifecycle, without needing to buy or maintain a third-party tool. The result: Fewer tools, increased visibility, and more transparency, all within GitLab. 

<figure class="video_container">
  <iframe src="https://player.vimeo.com/video/819308062?h=752d064728" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

## Set license policies and scan software licenses for compliance 

Violating or breaching a license by using software with an incompatible license may result in an expensive lawsuit or many developer hours to remove problematic code. We recently released a new and improved [license compliance scanner](https://about.gitlab.com/releases/2023/02/22/gitlab-15-9-released/#new-license-compliance-scanner) along with [license approval policies](https://docs.gitlab.com/ee/user/compliance/license_approval_policies.html). The new scanner extracts license information from packages that are dual-licensed or have multiple licenses that apply and automatically parses and identifies more than 500 different types of licenses, a substantial increase from previously identifying only 20 types of licenses. 
License approval policies help minimize the risk that unapproved licenses are in use, saving organizations time and effort to manually ensure compliance. 

<img src="/images/blogimages/2023-04-24-velocity-with-guardrails-ai-automation/set-license-policy.png" alt="Set license policies" style="border: 1px solid gray;">

<img src="/images/blogimages/2023-04-24-velocity-with-guardrails-ai-automation/dependencies.png" alt="Dependencies SBOM" style="border: 1px solid gray;">

## Protect secrets from being leaked

A recent [string of attacks](https://securityboulevard.com/2023/02/secrets-exposed-why-modern-development-open-source-repositories-spill-secrets-en-masse/) pointed to leaked personal access tokens (PATs) in source code as the culprit. GitLab Secret Detection can protect against that. We now [automatically revoke PATs](https://about.gitlab.com/releases/2023/02/22/gitlab-15-9-released/#automatic-revocation-of-leaked-personal-access-tokens) leaked in public GitLab repositories, mitigating the risk of a developer mistakenly commiting a PAT into their code. This capability helps protect GitLab users and their organizations from credential exposure and reduces risk to production applications. 

<img src="/images/blogimages/2023-04-24-velocity-with-guardrails-ai-automation/personal-access-token.png" alt="Protect personal access tokens" style="border: 1px solid gray;">

We are not stopping at remediating GitLab managed credentials. We now support [responding to leaked secrets in public projects](https://about.gitlab.com/releases/2023/04/22/gitlab-15-11-released/#automatic-response-to-leaked-secrets-on-any-public-branch) by revoking the credential or notifying the vendor who issued it. We’re actively expanding the list of supported vendors which [any SaaS vendor can join](https://docs.gitlab.com/ee/user/application_security/secret_detection/post_processing.html#partner-program-for-leaked-credential-notifications) to help us secure any secret a developer might use. 


## Automatically enforce security policies

Manually enforcing security policies for different projects and code commits can be time-consuming. Applying automation to policy enforcement can prevent security rules from being bypassed without proper approval. Security teams can configure [policy rules](https://docs.gitlab.com/ee/user/application_security/policies/), such as requiring multiple approvers across various teams (e.g., QA, Business, Legal), a two-step approval process, and approval for exceptions for using out-of-policy licenses. Such policies can be applied to multiple development projects, at the group or subgroup level, to allow for ease in maintaining a single, centralized ruleset.

<img src="/images/blogimages/2023-04-24-velocity-with-guardrails-ai-automation/enforce-policies-approvals.png" alt="enforce security policies" style="border: 1px solid gray;">

## Avoid false positives in security testing

Security professionals report that too many false positives rank among their top three frustrations, according to the GitLab 2023 Global DevSecOps Survey. Our [DAST API Analyzer](https://docs.gitlab.com/ee/user/application_security/dast_api) is now more accurate and reduces false positives by an estimated 78%, making it easier for DevSecOps teams to hone in on true security threats.

<img src="/images/blogimages/2023-04-24-velocity-with-guardrails-ai-automation/dast-vulnerabilities.png" alt="dast vulnerabilities" style="border: 1px solid gray;">

We’ve also just introduced [vulnerability dismissal reasons](https://about.gitlab.com/releases/2023/04/22/gitlab-15-11-released/#vulnerability-dismissal-reasons) to help track why vulnerabilities were resolved to improve compliance tracking and audit reports. 

<img src="/images/blogimages/2023-04-24-velocity-with-guardrails-ai-automation/vulnerability-dismissal.png" alt="vulnerability dismissal" style="border: 1px solid gray;">


We've introduced a lot of new capabilities that enable our customers to achieve velocity with guardrails. Watch this 90-second video to see how GitLab secures your end-to-end software supply chain.

<figure class="video_container">
  <iframe src="https://player.vimeo.com/video/762685637?h=f96e969756" frameborder="0" allowfullscreen="true"> </iframe>
</figure>


## More velocity, more guardrails coming soon

GitLab has an ambitious roadmap for 2023 to make it easier to integrate security into our customers’ software development lifecycle so they can deliver secure code easier and more efficiently. Capabilities coming soon include: 

- [Group and subgroup level dependency lists](https://gitlab.com/groups/gitlab-org/-/epics/8090) provide users a simple way to view their projects’ dependencies, as managing dependencies at the project level can be problematic for organizations with hundreds of projects. 
- [Continuous container and dependency scanning](https://gitlab.com/groups/gitlab-org/-/epics/7886) improves visibility and timeliness of vulnerability discovery by automatically scanning for new findings any time a new security advisory is published or code is changed. 
- [Management tools for compliance frameworks](https://gitlab.com/groups/gitlab-org/-/epics/9101) allow customers to apply the compliance frameworks to existing projects and multiple projects at once. Currently, customers can apply compliance frameworks and policies individually per project. 
- [SBOM ingestion](https://gitlab.com/groups/gitlab-org/-/epics/8024) will allow GitLab to import CycloneDX files from third-party tools to create a single source for all of the software’s dependencies giving greater system-wide visibility and helping to create actionable insights.

## Learn from the experts

Security developments move quickly and we want to make sure that all of our customers have the information they need. Join us for a fireside chat Tuesday, May 23, 2023, led by Joel Krooswyk, Chief Technology Officer, Federal, at GitLab, as we discuss all things cybersecurity, including software supply chain security, "secure by design" concepts, SBOMs, and software liability.

[Register today](https://page.gitlab.com/webcast-software-supply-chain-security-importance.html)!

